@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=cyrillic,cyrillic-ext");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none; }

*:active, *:focus {
  outline: none; }

html {
  height: 100%; }

body {
  min-height: 100%;
  font-family: 'PT Sans', sans-serif;
  font-size: 16px; }

.clearfix:before, .clearfix:after {
  content: ' ';
  display: table;
  clear: both; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0; }

.row-eq-height {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.img-header, .img-footer {
  width: 100%; }

.selector {
  background-color: #2290cf;
  -webkit-border-radius: 13px/105px;
          border-radius: 13px/105px; }

.selector_vertical {
  height: 241px; }

.selector__title h1 {
  color: #ffffff;
  font-family: "PT Sans";
  font-size: 30px;
  font-weight: 700;
  line-height: 50px; }

.selector__title h1 span {
  display: block;
  font-size: 36px;
  text-transform: uppercase; }

.selector-bg {
  background: rgba(34, 144, 207, 0.8);
  padding: 10px; }

/*MEDIA QUERY*/
