main
	.container
		.stage-wrapper
			ul
				li Для кого
					ul
						li Мальчик
						li Девочка
						li Маленький ребенок
						li Взрослый
				li Возраст
					ul
						li 0-12 мес
						li 1-3 года
						li 3-5 лет    
						li 6-9 лет
						li 9-12 лет
						li 12+ лет
				li Стоимость
					ul
						li price here
				li Тематика
					ul
						li Barbie
						li Monster High
						li Cупергерои
						li Chuggington
						li Winx
						li Transformers
						li Маша и медведь
						li Disney
						li Angry Birds
						li My Little Pony
				li Категории
					ul
						li Куклы
						li Машинки
						li Научные игры
						li Пазлы
						li Игрушечный транспорт
						li Товары для лепки
						li Книги
						li Мягкие игрушки
						li Игрушки для улицы
						li Товары для рисования
			a.butn(href='#') Подобрать
		.curved-border-bg
			.banner
				.banner__title
					h1 Подберите удачный подарок
						span  в 5 простых шагов
		.selection
			.selection__title
				| Шаг 1. Для кого подарок?
				a(href='#') Пропустить
				
				

			
				
		
		
	
