main {}
$blue: #2290cf;

$light-blue:rgba($blue, .8);
 .selector {
    background-color: $blue;
    border-radius: 13px/105px;
    &_vertical{
        height: 241px;
    }
    &__title {
        h1 {
            color: #ffffff;
            font-family: "PT Sans";
            font-size: 30px;
            font-weight: 700;
            line-height: 50px;
            span{
                display: block;
                font-size: 36px;
                text-transform: uppercase;
            }
        }
    }
}


.selector-bg {
    background: $light-blue;
    padding: 10px;
}

.selection {

}
