@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=cyrillic,cyrillic-ext');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	&:active, &:focus{
		outline: none;
	}
}
html{
	height: 100%;
}
body{
	min-height: 100%;
	font-family: 'PT Sans', sans-serif;
	font-size: 16px;
}

.clearfix:before, .clearfix:after{
	content: ' ';
	display: table;
	clear: both;
}
$color: #385e82;

@mixin pseudo($display: block, $pos: absolute, $content: ''){
	content: $content;
	display: $display;
	position: $pos;
}

@mixin fs($sizeValue: 1.6){
	font-size: ($sizeValue) + px;
	font-size: ($sizeValue/10) + rem;
}



h1,h2,h3,h4,h5,h6{
	margin: 0;
	padding: 0;
}


.row-eq-height {
	height: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display:         flex;
}
.img-header, .img-footer{
	width: 100%;
}

@import 'header';
@import 'content';
@import 'footer';
@import 'media';
